@page
@model Abby.Web.Pages.Admin.FoodTypes.DeleteModel

<form method="post">
    <input asp-for="@Model.FoodType.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Food Type</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.FoodType.Name"></label>
            <input asp-for="@Model.FoodType.Name" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>
